#body {
   text-align: center;
   background-color: #212F3C;
   color: white;
}

button#rushButton {
     
}
#top {

}
#middle {
    
}
#rush {
    background-color: grey;
    width:50%;
    right: 50px;
    
} 